# Default owner for all files (fallback)
*                 @nexoscreation

# Core repository maintainers
.github/          @nexospro

# Specific file ownership
CHANGELOG.md      @nexospro
CONTRIBUTING.md   @nexoscreation
README.md         @nexoscreation
LICENSE           @nexoscreation